.nav-link{
    font-size: large;
}
.pfo{
    color: white;
    font-weight: 400;
}
.pfoConsulta{
    font-size: large;
}
body{
    overflow-x: hidden;
    position: relative;
    padding-bottom: 10em;
    min-height: 100vh;
}
footer{
position: absolute;
width: 100%;
bottom: 0;
}
.Contenedor-busqueda {
    background-color: #4e5986;
     display: flex;
    align-items: center;  

}
.Resultado{
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right:50px;
    width: 1000px;
}
.Restaurante-busqueda {
    border-bottom-color: #dee2e6;
    border-bottom-style: solid;
    border-bottom-width: thin;
    display: flex;
    
}

.contenido-restaurante{
    padding-left: 12px;
}
.Contenedor-restaurante{
    display: flex;
}
div#carouselExampleSlidesOnly {
    padding: 10px;
}
.carrusel-principal{
    width: 1500px;
}
.Restaurante-detalles{
    background-color: #bbb;
}
a:link, a:visited{
    text-decoration: none;
    color: black;
}
